body {
  color: rgb(10, 8, 20);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  gap: 1em;
 
}
